# Python caches
__pycache__/
*.pyc

# Virtual Environment
addon/rootfs/app/venv/
venv/
.venv/


addon/rootfs/app/devices.json
addon/rootfs/app/eep/definitions/provisioned/
addon/rootfs/app/eep/definitions/custom/
